<h2>Create New Article</h2>
<div class = "container">
  <%= form_for(@article) do |a| %>
  <div>
    <%= a.label :post, "Title of experiment" %>
    <%= a.text_field :title %>
  </div>
  <div class="picture-upload">
    <%= a.label :post, "Picture File" %>
    <%= a.file_field "article_pictures_attributes_attachment", multiple: true, name:'article[pictures_attributes[][attachment]' %>
  </div>
  <div class="audio-upload">
    <%= a.label :post, "Audio File" %>
    <%= a.file_field :audio_file, class:"custom-file-input" %>
    <span class="fa fa-camera fa-2x"></span>
    <span class="fa fa-volumn fa-2x"></span>
    <span class="fa fa-gears fa-2x"></span>
  </div>
  <div>
    <%= a.label :post, "Hypothesis" %>
    <%= a.text_area :hypothesis %>
  </div>
  <div>
    <%= a.label :post, "Description" %>
    <%= a.text_area :description %>
  </div>
  <div class="submit">
    <%= a.submit %>
  </div>
<% end %>
</div>